.linkItem{
    text-decoration: none;
}
.StoffName{
font-size: 40px;    
background-color: aliceblue;
justify-content: center;
align-items: center;
color: black;
text-transform: uppercase;
margin: 10px;
}

.beschreibung{
    font-size: 30px;
}

  .GesamtList {
    justify-content: center;
    display: grid;
    grid-gap: Auto;
    grid-template-rows: repeat(1,auto) ;
    grid-template-columns:repeat(3,30%);
    grid-auto-flow: row;
    text-decoration: none;}
 
    .Seperator {
        border: none;
        height: 2px;
        background-color: black;
        margin-left: 30px;
        margin-right: 50px;
    
      }
